* {
    background-color: #555555;
    font-family: monospace;
    } 

h1 {
    color:aliceblue;
    position: fixed;
    left:2rem;}  

main {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    margin: 0;   
}

#container {
    color:aliceblue;
    background-color: #696969;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
}

#timer {
    position:absolute;
    top: 10rem;
    font-size: 3rem;
    color:aliceblue;
    font-weight: bold;
}

#quote {
    margin-bottom: 1rem;
}

textarea {
color:aliceblue;
background-color: transparent;
border: 2px solid slategray;
outline:none;
width: 94%;
height: 8rem;
resize: none;
margin: auto;
padding: 0.5rem 1rem;
font-size: 1rem;
border-radius: 1rem;
}

textarea:focus {
    border-color:black;
}